doctype html
html(lang='en')
  head
    include ../config
    include ../tracking/google-tag-manager-1.html
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=config.description)
    meta(name='author', content=config.author)
    title= config.name
    include favicon.html
    include ../styles/styles
  body
  include ../tracking/google-tag-manager-2.html


